.home {
    padding: 20px;
  }

  .hero {
    width: 100%;
    position: relative;
  }
  
  .slider-image {
    width: 100%;
    height: 600px; /* Adjust height as needed */
    /* object-fit: cover;  */
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  
  .new-arrivals, .best-sellers, .tops, .maxi-dresses, .mini-dresses, .swim-wears {
    margin-top: 40px;
  }
  
  .new-arrivals h2, .best-sellers h2, .tops h2, .maxi-dresses h2, .mini-dresses h2, .swim-wears h2, .e-gift-cards h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
  }

  /* New Arrivals, Best Sellers */
  .product-box {
    flex: 0 0 20%;
    height: 500px; /* Adjust height as needed */
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product-description {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
    text-align: center;
}

.product-description:hover {
    background-color: #d0d5ea;
}

.product-description h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.product-description p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.product-colors {
    display:inline-flex;
    gap: 5px;
}

.product-colors span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
}

  /* New Arrivals, Best Sellers */
  .product-row, .product-row2{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
  }
  
  .prev, .next,
  .prev2, .next2 {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 145%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .prev, .prev2 {
    left: 0;
  }

  .next, .next2 {
    right: 0;
  }

  .prev2, .next2{
    top: 230%;
  }

  /* Tops */
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner {
    display: flex;
    margin-top: 5%;
    height: 400px; /* Adjust height as needed */
  }
  
  .banner-image {
    flex: 1; /* Adjust flex as needed */
  }
  
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-content {
    flex: 1; /* Adjust flex as needed */
    background-color: #cce2cb; /* Pastel color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .banner-title {
    font-size: 2.5rem; /* Adjust as needed */
    color: #333; /* Text color */
    margin-bottom: 10px;
  }
  
  .banner-subtitle {
    font-size: 1.25rem; /* Adjust as needed */
    color: #666; /* Text color */
    margin-bottom: 20px;
  }
  
  .banner-button {
    background-color: #5086C1; /* Example button color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .banner-button:hover {
    background-color: #005187; /* Darker shade on hover */
  }
  
  .e-gift-content {
    flex: 1; /* Adjust flex as needed */
    background-color: #fee1e8; /* Pastel color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  
  @media (max-width: 768px) {
    .carousel-container, .carousel-container2 {
      flex-direction: column;
    }
  
    .product-row, .product-row2 {
      justify-content: center;
    }
  
    .product-box {
      flex: 0 0 200px;
    }
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5086C1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-to-top:hover {
  background-color: #005187;
}
